<ol start="1">
  <li>Item 5</li>
  <li>Item 6</li>
  <li>Item 7</li>
</ol>

<%= link_to 'Voltar para a lista de produtos', produtos_path, class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-6 rounded" %>